.side-bar-burger {
  display: block;
  margin-top: 10px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  .burger-open-button {
    display: flex;
    width: 100%;
    height: 110px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 5px;
    margin-top: 10px;
    background-image: url('https://wowcircle.net/themes/wowcircle/images/bg/nav_m_bg.png');
    color: #e0c8b5;
    font-family: Beaufort-Regular;
    font-size: 26px;
    text-transform: uppercase;
    transition: filter 0.2s ease-in-out;
  }

  .burger-nav {
    display: flex;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    background: #1f0f0d;

    &.hide {
      display: none;
    }

    .nav-item {
      display: block;
      width: 100%;
      padding: 12px;
      margin: 1px 0;
      color: #ae9079;
      font-family: Beaufort-Regular;
      font-size: 18px;
      text-align: center;
      text-shadow: 0 0 10px rgb(255 119 0 / 20%);
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
    }
  }
}
