.layaout-center {
  .top-img {
    overflow: hidden;
    height: 30px;
  }

  width: fit-content;
  width: 73%;
  height: fit-content !important;
  height: 1000px;
  margin-top: 80px;
  background: #170604;

  .layaout-center-content-container {
    .layaout-center-content {
      padding: 20px;
      background-color: #200e0c;
    }
  }
}
