.social {
  display: flex;

  .social-item {
    width: 37px;
    height: 37px;
    margin: 0 10px;

    &:hover {
      cursor: pointer;
    }

    &.vk {
      background-image: url('https://wowcircle.net/themes/wowcircle/images/icon/vk.png');
      background-repeat: no-repeat;
    }

    &.ds {
      background-image: url('https://wowcircle.net/themes/wowcircle/images/icon/dc.png');
      background-repeat: no-repeat;
    }

    &.yt {
      background-image: url('https://wowcircle.net/themes/wowcircle/images/icon/yt.png');
      background-repeat: no-repeat;
    }
  }
}
