.side-bar-resource {
  padding-top: 70px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-radius: 5px;
  margin-top: 30px;
  background: linear-gradient(to top, #23100b, #190805);
}
