.account {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  min-width: 606px;
  max-width: 1920px;
  min-height: 100vh;
  min-height: 660px;
  background-image: url('https://cp.wowcircle.net/assets/images/bg/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .header {
    padding: 0 100px;
    background: rgb(0 0 0 / 80%);
  }

  .logo-container {
    display: flex;
    width: 1200px;
    justify-content: center;
    margin: 0 auto;

    .logo {
      width: 210px;
      height: 118px;
      margin: 50px auto 0;
      background-image: url('https://cp.wowcircle.net/assets/images/logo/logo.png');

      &:hover {
        cursor: pointer;
      }
    }
  }

  .account-content {
    position: relative;
    width: 1200px;
    margin: 50px auto 0;
  }

  .layaout {
    display: flex;
    height: 100%;
    background: #1b1212;
  }
}
